header{
    background-color: #c36a2d;
    padding: 1rem 2rem;
    margin-bottom: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left, .nav-right{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-left li, .nav-right li{
    margin-left: 1rem;
}

.nav-left li:first-child {
  margin-left: 0;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover, button:hover{
    text-decoration: underline;
}
