<div class="home-layout">
  
  <main class="main-content">
    <section class="welcome">
      <h1>📚 Welcome to Book Diary</h1>
      <p>
        Your personal reading companion - track your books, rate them, and discover your next favorite story.
        Whether you’re a casual reader or a bookworm, Book Diary keeps your library organized and your passion alive.
      </p>
    </section>

    @if (randomQuote) {
    <section class="quote">
      <blockquote>
        “{{ randomQuote.quote }}”  
        <span>—{{randomQuote.author}} </span>
      </blockquote>
    </section>
    }
    
    @if (books.length === 0) {
        <div class="no-books">
            <p>📚 Seems like our users haven't started filling their collection! Don't be afraid to be first.</p>
        </div>
    }@else {
        <div class="book-container">
    @for (book of books; track book.id) {
    <div class="book-card">
        <img [src]="book.photoUrl" alt="Book cover" class="book-image">
        <div class="book-content">
            <h2>{{book.name}}</h2>
            <p>{{book.author}} --- Pages: {{book.pages}}</p>
            <p>{{book.description | shortenDescription}}</p>
            <a [routerLink]="['/book', book.id]">View Book</a>
        </div>
        
    </div>
    }
    </div>
    }
    
    
    <section class="about">
      <h2>📖 About Book Diary</h2>
      <p>
        Book Diary was created for readers by readers. Our mission is to provide a space where you can 
        keep track of your reading journey, and explore new adventures.  
        We believe that every book has the power to change you and we’re here to make sure you remember them all.
      </p>
    </section>
  </main>
</div>
